@using Domain.Entity
@model List<Cake>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-12 d-flex align-items-stretch">
    <div class="card w-100">
        <div class="card-body p-4">
            <h5 class="card-title fw-semibold mb-4">Cake List</h5>
            <div class="table-responsive">
                <table class="table text-nowrap mb-0 align-middle">
                    <thead class="text-dark fs-4">
                    <tr>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">#</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">Cake Name</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">Short Description</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">Long Description</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">Price</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">Thumbnail</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">Image 1</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">Image 2</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">Image 3</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">Image 4</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">Image 5</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">Image 6</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">In Stock</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">Update</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">Delete</h6>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td class="long-text">
                                @item.ShortDescription
                                <a href="#" class="show-more"></a>
                            </td>
                            <td class="long-text">@item.LongDescription
                                <a href="#" class="show-more"></a>
                            </td>
                            <td>@item.Price</td>
                            <td class="py-1">
                                <img src="~/template/img/shop/@item.ImageThumbnailUrl" class="rounded-circle" width="50px" height="50px">
                            </td>
                            <td class="py-1">
                                <img src="~/template/img/shop/@item.ImageUrl" class="rounded-circle" width="50px" height="50px">
                            </td>
                            <td class="py-1">
                                <img src="~/template/img/shop/@item.ImageUrl2" class="rounded-circle" width="50px" height="50px">
                            </td>
                            <td class="py-1">
                                <img src="~/template/img/shop/@item.ImageUrl3" class="rounded-circle" width="50px" height="50px">
                            </td>
                            <td class="py-1">
                                <img src="~/template/img/shop/@item.ImageUrl4" class="rounded-circle" width="50px" height="50px">
                            </td>
                            <td class="py-1">
                                <img src="~/template/img/shop/@item.ImageUrl5" class="rounded-circle" width="50px" height="50px">
                            </td>
                            <td class="py-1">
                                <img src="~/template/img/shop/@item.ImageUrl6" class="rounded-circle" width="50px" height="50px">
                            </td>
                            <td>@(item.InStock == true ? true : false) </td>
                            <td>
                                <a href="/Admin/Cake/UpdateCake/@item.Id" class="btn btn-outline-primary">Update</a>
                            </td>
                            <td>
                                <a href="/Admin/Cake/DeleteCake/@item.Id" class="btn btn-outline-danger">Delete</a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>