@model CakeShop.ViewModels.CheckoutViewModel
@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__text">
                    <h2>Checkout</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__links">
                    <a href="/Cake/Index">Home</a>
                    <span>Checkout</span>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <form asp-action="Checkout" method="post" role="form">
                <input type="hidden" data-order-id="@Model.Order.Id"/>
                <div class="row">
                    <div class="col-lg-8 col-md-6">
                        <h6 class="checkout__title">Order Details</h6>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>First Name<span>*</span></p>
                                    <input type="text" asp-for="@Model.Order.FirstName">
                                    <span asp-validation-for="@Model.Order.FirstName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Last Name<span>*</span></p>
                                    <input type="text" asp-for="@Model.Order.LastName">
                                    <span asp-validation-for="@Model.Order.LastName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="checkout__input">
                            <p>Country<span>*</span></p>
                            <input type="text" asp-for="@Model.Order.Country">
                            <span asp-validation-for="@Model.Order.Country" class="text-danger"></span>
                        </div>
                        <div class="checkout__input">
                            <p>Address<span>*</span></p>
                            <input type="text" placeholder="Street Address" class="checkout__input__add" asp-for="@Model.Order.AddressLine1">
                            <span asp-validation-for="@Model.Order.AddressLine1" class="text-danger"></span>
                            <input type="text" placeholder="Apartment, suite, unite ect" asp-for="@Model.Order.AddressLine2">
                            <span asp-validation-for="@Model.Order.AddressLine2" class="text-danger"></span>
                        </div>
                        <div class="checkout__input">
                            <p>Town/City<span>*</span></p>
                            <input type="text" asp-for="@Model.Order.City">
                            <span asp-validation-for="@Model.Order.City" class="text-danger"></span>
                        </div>
                        <div class="checkout__input">
                            <p>State<span>*</span></p>
                            <input type="text" asp-for="@Model.Order.State">
                            <span asp-validation-for="@Model.Order.State" class="text-danger"></span>
                        </div>

                        <div class="checkout__input">
                            <p>Postcode / ZIP<span>*</span></p>
                            <input type="text" asp-for="@Model.Order.ZipCode">
                            <span asp-validation-for="@Model.Order.ZipCode" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Phone<span>*</span></p>
                                    <input type="text" asp-for="@Model.Order.PhoneNumber">
                                    <span asp-validation-for="@Model.Order.PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Email<span>*</span></p>
                                    <input type="text" asp-for="@Model.Order.Email">
                                    <span asp-validation-for="@Model.Order.Email" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="checkout__order">
                            <h6 class="order__title">Your order</h6>
                            <div class="checkout__order__products">Product <span class="ml-4">Total</span><span>Amount</span> </div>
                            @foreach (var item in Model.CartItems)
                            {
                                <ul class="checkout__total__products">
                                    <li>
                                        @item.Cake.Name <span class="ml-4">$ @item.Cake.Price</span> <span>@(item.Amount)x</span>
                                    </li>
                                </ul>
                            }
                            <ul class="checkout__total__all">
                                <li>Total <span>$ @Model.ShoppingCartTotal.ToString("0.00")</span></li>
                            </ul>
                            <p>
                                "When you complete your order, it will be prepared and shipped as soon as possible. You can use your account to track the status and updates of your order. If you have any questions or requests, please don't hesitate to contact us. Thank you!"
                            </p>
                            <button type="submit" class="site-btn">PLACE ORDER</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>