@model CakeShop.ViewModels.ShoppingCartViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__text">
                    <h2>Shopping cart</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__links">
                    <a href="/Cake/Index">Home</a>
                    <span>Shopping cart</span>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="shopping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="shopping__cart__table">
                    <table>
                        <thead>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model.ShoppingCart.ShoppingCartItems)
                        {
                            <tr>
                                <td class="product__cart__item">
                                    <div class="product__cart__item__pic">
                                        <img src="~/template/img/shop/@item.Cake.ImageThumbnailUrl" alt="" width="90px" height="90px">
                                    </div>
                                    <div class="product__cart__item__text">
                                        <h6>@item.Cake.Name</h6>
                                        <h5>$@item.Cake.Price</h5>
                                    </div>
                                </td>
                                <td class="quantity__item">
                                    <div class="quantity">
                                        <div class="pro-qty" data-cakeId="@item.Cake.Id">
                                            <input type="text" value="@item.Amount">
                                        </div>
                                    </div>
                                </td>
                                <td class="cart__price">$ @(item.Cake.Price * item.Amount)</td>
                                <td class="cart__close">
                                    <span class="icon_close cartItemRemove" data-cake-id="@item.Cake.Id"></span>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn">
                            <a href="/Cake/Shop">Continue Shopping</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn update__btn">
                            <a class="btn" id="btn_clear_basket">Clear Basket</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cart__total">
                    <h6>Cart total</h6>
                    <ul>
                        <li>Total <span>$ @Model.ShoppingCartTotal.ToString("0.00")</span></li>
                    </ul>
                    <a asp-controller="Order" asp-action="Checkout"  class="primary-btn">Proceed to checkout</a>
                </div>
            </div>
        </div>
    </div>
</section>

