@using Domain.Entity
@model List<About>
@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="breadcrumb__text">
                        <h2>About</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="breadcrumb__links">
                        <a href="/Cake/Index">Home</a>
                        <span>About</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

<section class="about spad">
    <div class="container">
        @foreach (var item in Model)
        {
        <div class="row">
            <div class="col-lg-12">
                <div class="about__video set-bg" data-setbg="/template/img/about-image.jpg">
                </div>
            </div>
        </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="about__text">
                        <div class="section-title">
                            <span>About Cake shop</span>
                            <h2>@item.Title</h2>
                        </div>
                        <p>@item.Description</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="about__bar">
                        <div class="about__bar__item">
                            <p>@item.Feature</p>
                            <div id="bar1" class="barfiller">
                                <div class="tipWrap"><span class="tip"></span></div>
                                <span class="fill" data-percentage="@item.FeatureLevel"></span>
                            </div>
                        </div>
                        <div class="about__bar__item">
                            <p>@item.Feature2</p>
                            <div id="bar2" class="barfiller">
                                <div class="tipWrap"><span class="tip"></span></div>
                                <span class="fill" data-percentage="@item.FeatureLevel"></span>
                            </div>
                        </div>
                        <div class="about__bar__item">
                            <p>@item.Feature3</p>
                            <div id="bar3" class="barfiller">
                                <div class="tipWrap"><span class="tip"></span></div>
                                <span class="fill" data-percentage="@item.Feature3Level"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    </section>
